/*Modificaciones Generales*/

.img-250{height: 250px;width: 250px;}

/*Seccion Menu*/
#menu{background-color: rgba(0, 0, 0, 0.5);}

/*Seccion Cabecera*/
#cabecera{height: 100vh;background-image: url(../asset/img/ninanbu3.svg);background-repeat: no-repeat;background-size: cover;background-position: center;background-attachment: fixed;}

/*Seccion Studio*/
#studio{background-color: #2C3E50;color: #fff;padding: 100px 0;}

/*Seccion About*/
#about{background-color:#34495E;color: #fff;padding: 100px 0;}
  #miFoto:hover{filter: grayscale(100%);}

/*Seccion Habilidades*/
#habilidades{background-color:#2C3E50;color: #fff;padding: 100px 0;}

/*Texto Movil*/
#text-movil{text-align: center;background-color: #000;}

/*Seccion Blog*/
#blog{background-color: #E74C3C;padding: 100px 0;}
.pad-blog{padding: 10px;}
.mar-blog{margin: 10px;}
  #blog1{order: 1;}
  #blog2{order: 2;}
  #blog3{order: 3;}
  #blog4{order: 1;}
  #blog5{order: 2;}
  #blog6{order: 3;}

/*Seccion Footer*/
#contacto{background-color: #000;padding-top:100px;color: #fff;}
 #contacto span{color:red;}
