/*Modificaciones Generales*/
h3{color: #fff;}
.img-250{height: 250px;width: 250px;}

html {
  font-size: 14px;
}

@media (min-width: 300px) {
  html {font-size: 13px;}
}

@media (min-width: 768px) {
  html {font-size: 20px;}
}

@media (min-width: 992px) {
  html{font-size: 20px;}
}

/*Seccion Menu*/
#menu{background-color: rgba(0, 0, 0, 0.5);}

/*Seccion Cabecera*/
#cabecera{height: 100vh;background-image: url(../asset/img/ninanbu3.svg);background-repeat: no-repeat;background-size: cover;background-position: center;background-attachment: fixed;}

/*Seccion Studio*/
#studio{background-color: #2C3E50;color: #fff;padding: 100px 0;}

/*Seccion About*/
#about{background-color:#34495E;color: #fff;padding: 100px 0;}
  #miFoto:hover{filter: grayscale(100%);}

/*Seccion Habilidades*/
#habilidades{background-color:#2C3E50;color: #000;padding: 100px 0;}
h3{color: #fff;}

/*Seccion Blog*/
#blog{background-color:#5e86aa;padding: 100px 0;}

.pad-blog{padding: 10px;}
.mar-blog{margin: 10px;}
  #blog1{order: 1;}
  #blog2{order: 2;}
  #blog3{order: 3;}

/*Seccion Footer*/
#contacto{background-color: #407293;padding-top:20px;color: #000;}
 #contacto span{color:red;}
